:root {
  /* --primary-color:; */
  --dark-color: #333;
  --light-color: #fff;
  --max-width: 1200px;
  --transition-speed: 0.4s;
}
/* Core css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'PT Serif', serif;
  /* background: ; */
  line-height: 1.4;
}

a {
 color: var(--dark-color);
}

img {
  width: 100%;
}

/* Utilites */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2rem;
}

 .icon {
   background: #C5F4E0;
   color: #02b00a;
   width: 45px;
   height: 45px;
   text-align: center;
    font-size: 24px;
   line-height: 45px;
   display: inline-block;
   border-radius: 50%;
   margin-left: 4rem;
 }

 .icon i:hover {
   transition: all var(--transition-speed) ease-in-out;
   transform: rotate(340deg);
 }

/* Header */
.uppper_header {
  display: flex;
  padding: 1rem;
  width: 100%;
  height: 100%; 
  justify-content:space-evenly;
  font-size: 1.1rem;
}

.uppper_header p {
  color: #828282;
}

.busi-hrs h5,
.busi-address h5,
.busi-phone h5 {
  margin-top: .5rem;
  font-weight: bolder;
}

.lower-header {
  background: #C5F4E0;

}

.headers .navbar ul {
  display: flex;
  padding: 1.5rem;
}

.headers .navbar ul li a {
  padding: 1rem;
  font-weight: bolder;
  font-size: 1rem;
  text-align: center;
  margin-left: 5rem;
  transition: all 0.3s ease-in-out;
}

.headers .navbar ul li a:hover {
  color: #02b00a;
  border-bottom: #02b00a 1px solid;
}
